--extra-index-url https://download.pytorch.org/whl/cu113
numpy
scipy
torch>=2.0.0
accelerate
diffusers
transformers
opencv-python
opencv-contrib-python
inflect
easydict
gradio==3.35.2
pydantic==1.10.7
openai
